.button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}