.sidebar {
  position: fixed;
  top: 16px;
  right: 16px;
  width: min-content;
  /* width: 600px; */
  max-height: calc(100% - 16px * 2 - 48px - 16px);
  border-radius: 16px;
  /* box-shadow: 0 0 32px rgba(20, 20, 20, 1);
  backdrop-filter: blur(32px);
  background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  /* padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition-duration: 0.3s;
}

.sidebarHidden {
  transform: translate(calc(362px + 16px), 0);
}

/* Скрытие полосы прокрутки */
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chartWrapper {
  margin-bottom: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.worldAgeRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.worldAgeValue {
  font-variant-numeric: tabular-nums;
}

.worldAgeFraction {
  opacity: 0.5;
}
