.sidebar {
  position: fixed;
  top: 16px;
  right: 16px;
  width: min-content;
  max-height: calc(100% - 16px * 2 - 48px - 16px);
  border-radius: 16px;
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition-duration: 0.3s;
}

.sidebarHidden {
  transform: translate(calc(362px + 16px), 0);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chartWrapper {
  margin-bottom: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.worldAgeRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.worldAgeValue {
  font-variant-numeric: tabular-nums;
}

.worldAgeFraction {
  opacity: 0.5;
}
