.item {
  position: relative;
  overflow: hidden;
  padding: 0px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.itemActive {
  background-color: rgba(150, 255, 150, 0.5);
}

.itemInactive {
  background-color: rgba(255, 255, 255, 0.25);
}

.input {
  all: unset;
}

.label {
  position: relative;
  z-index: 1;
}
